// color
$_white: rgba(255, 255, 255, 1);
$_black: rgba(45, 48, 51, 1);
$_gray: rgba(108, 114, 121, 1);
$_light_gray:rgba(198, 203, 205, 1);
$_coral:rgba(255, 67, 67, 1);
$_violet: rgba(92, 50, 73, 1);
$_blue: rgba(53, 60, 101, 1);
$_deep_blue: rgba(44, 49, 84, 1);

//font-size

$_64px: 4rem;
$_48px: 3rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5em;
$_18px: 1.125rem;
$_13px: 0.812rem;